.graphContainer{
    display: flex;
    height: auto;
    width: auto;


}
.graphDiv{
    
    min-width: 40vw;
    width: 50%;
    min-height: 40vh;
    height: auto;
    background-color: white;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    transition: all 300ms ease-in;
   
}
.statsDiv{
    width: 100%;
    min-height: 20%;
    height: auto;
    /* background-color: #5646FF; */
    background-color: rgb(175, 173, 173);
    color: white;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    transition: all 300ms ease-in;
   
}
.statElement{
    display: flex;
    flex-direction: column;
    text-align: justify;

}
.topText{
    text-align: center;
    font-size: calc(10px + 1.6vw);
}
.bottomText{
    font-size: calc(8px + 0.6vw);
}
.topDiv{
    color: rgb(94, 94, 94);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
h4{
    font-weight: 500;
}

.graphDiv:hover{
    
    margin-top: -1px;
    cursor: pointer;
    transform: translateZ(50%);
    box-shadow: 2px 2px 12px rgba(81,75,75,0.10);
}
.graphDiv:hover>.statsDiv{
    background-color: #5646FF;
    box-shadow: 2px 2px 12px rgba(81,75,75,0.10);
}
.graphContainer:hover{
    cursor: pointer;
}