.sidebar{
    position: absolute;

    left: 0;
    top: 0%;
    min-height: 100%;
    height: auto;
    width: 20vw;
    z-index: 11;
    
    /* background-color: #0672DA; */
    background-color: #5646FF;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
}
.allListContainer{
    margin-top: 15vh;
}

.testColl:hover{
    background-color: darkblue;
}
.acc{
    width: 100%;
    border-radius: 0px;
    padding: 0;
    background-color: rgb(9, 9, 199);
    
}
ul{
    width: 100%;
    
}
li{
    list-style-type:none;
    width: 100%;
    padding-left:20px ;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    
}
acc:hover{
    
    cursor: pointer;
}
li:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.other:hover{
background-color:  rgba(0,0,0,0.6);
}

@media only screen and (max-width: 500px) {
   .sidebar {
      width: 100vw;
      
    }
  }

