
.combine{ 
    
    display: flex;
    align-items: center;
}
.App{
    position: relative;
    min-height: 100vh;
    
  

}
.burger{
    position: absolute;
    top: 10px;
    left: 10px;
    
    width: 10%;
    min-width: 55px;
    z-index: 999;
    background-color: blue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
}
.company{
    position: absolute;
    left: 50px;
    font-size: 2rem;
    min-width: 55px;
    color: rgb(248, 248, 248);
    z-index: 999;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.burger:hover{
    background-color: rgb(4, 4, 167);
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .burger{
        display: block;
    }
    .App{
        overflow-x: hidden;
    }
    text{
        display: none;
    }
    .company{
        color: rgb(25, 10, 59);
    }
   }